#numRedNodes {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20; 
    padding: 5px;
}

#returnMainNode {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 20;
}

#cy-container {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#cy {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}
