#returnMainNode {
    position: absolute;
    right: 10px;
    z-index: 20;
}

#manualInput {
    position: absolute;
    right: 50%;
    /* z-index: 20; */
    padding-top: 0.5%;
}



#cy-container {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#cy {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}
