<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract Layout</title>
    <script src="https://unpkg.com/cytoscape@3.18.1/dist/cytoscape.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <button id="toggleScrollZoom">Toggle Scroll/Zoom</button>
    <button id="manualInput">Manual Input</button>
    <button id="fullNN">Show full network</button>

    <div id="cy"></div>


    <script src="{{ url_for('static', filename='abstract_layout.js') }}"></script>
    <script type="application/json" id="elementsData">
        {{ elements|tojson }}
    </script>
    <script src="{{ url_for('static', filename='abstractLayoutStyles.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='static/abstract_layout.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='abstract_layout/cySetup.js') }}"></script>
    <script src="{{ url_for('static', filename='abstract_layout/main.js') }}"></script> -->
</body>

</html>