<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focused Layout</title>
    <script src="https://unpkg.com/cytoscape@3.18.1/dist/cytoscape.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="buttons">
        <button id="toggleScrollZoom">Toggle Scroll/Zoom</button>
        <button id="resetView">Reset View</button>
        <button id="returnMainNode">Return to Abstract Layout</button>   
    </div>
    
    <div id="cy"></div>     

    <script src="{{ url_for('static', filename='focused_layout.js') }}"></script>
    <script src="{{ url_for('static', filename='mainLayoutStyles.js') }}"></script>

    <!-- <script src="{{ url_for('static', filename='focused_layoutStyles.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='static/abstract_layout.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='abstract_layout/cySetup.js') }}"></script>
    <script src="{{ url_for('static', filename='abstract_layout/main.js') }}"></script> -->
</body>

</html>