<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <script src="https://unpkg.com/cytoscape@3.18.1/dist/cytoscape.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <input type="number" id="numRedNodes" placeholder="Number of Red Nodes">
    <input type="number" id="numOrangeNodes" placeholder="Number of Orange Nodes">
    <button id="generateGraph">Generate Graph</button>

    <button id="returnMainNode">Return to Main Node</button>    

    <div id="cy"></div>
    <script src="{{ url_for('static', filename='mainLayoutStyles.js') }}"></script>
    <script src="{{ url_for('static', filename='layout.js') }}"></script>
</body>

</html>