<!DOCTYPE html>
<html>
<head>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="reluGraph"></div>
    <button onclick="plotReLU()">Plot ReLU</button>

    <script>
        function relu(x) {
            return x > 0 ? x : 0;
        }

        function plotReLU() {
            // Generate a random value between -10 and 10
            var nodeValue = Math.random() * 20 - 10;
            var trace = {
                x: [],
                y: [],
                mode: 'lines',
                type: 'scatter'
            };

            var highlightTrace = {
                x: [nodeValue],
                y: [relu(nodeValue)],
                mode: 'markers',
                marker: { size: 10, color: 'red' },
                type: 'scatter'
            };

            for (var i = -10; i <= 10; i += 0.5) {
                trace.x.push(i);
                trace.y.push(relu(i));
            }

            var data = [trace, highlightTrace];

            var layout = {
                title: 'ReLU Function Visualization',
                xaxis: { title: 'x' },
                yaxis: { title: 'ReLU(x)' }
            };

            Plotly.newPlot('reluGraph', data, layout);
        }

        // Plot initial graph
        plotReLU();
    </script>
</body>
</html>